* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1440px;
  padding-top: 3rem;
  margin: 0 auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", Arial, sans-serif;
}

.container__image {
  display: block;
  width: 200px;
  height: 200px;
  background-image: url("/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_1_1,c_fill,g_auto__c_scale,w_200.jpg");
  background-size: cover;
  background-position: center;
}

.container__article {
  color: #121212;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.container__article-title {
  font-size: 2.625rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.container__article-paragraph {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 32px;
}

.container__article-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1rem;
  font-weight: 700;
  width: 128px;
  height: 48px;
  border-radius: 32px;
  border: none;
  background-color: #e4c1ae;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container__article-button:hover {
  background-color: #cb8662;
}

.container__article-button:active {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-box-shadow: 0px 0px 5px #333;
          box-shadow: 0px 0px 5px #333;
}

.container .blocker {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.container .blocker.active {
  display: block;
}

.container .popup {
  display: none;
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 70vw;
  height: 210px;
  background-color: #fff;
  border: 2px solid black;
  padding: 15px 15px;
}

.container .popup__header {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px;
}

.container .popup__text {
  font-weight: 300;
}

.container .popup__close {
  all: unset;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  line-height: 0;
  cursor: pointer;
}

.container .popup__close:active {
  font-weight: 700;
}

.container .popup.show {
  display: block;
}

@media screen and (min-width: 350px) {
  .container__image {
    width: 330px;
    height: 300px;
    background-image: url("/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_1_1,c_fill,g_auto__c_scale,w_450.jpg");
  }
}

@media screen and (min-width: 500px) {
  .container__image {
    width: 470px;
    height: 400px;
    background-image: url("/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_1_1,c_fill,g_auto__c_scale,w_630.jpg");
  }
}

@media screen and (min-width: 700px) {
  .container__image {
    width: 600px;
    height: 400px;
    background-image: url("/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_1_1,c_fill,g_auto__c_scale,w_767.jpg");
  }
}

@media screen and (min-width: 1025px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 6rem;
  }
  .container__image {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
    max-width: 100%;
    min-width: 600px;
    background-image: url("/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_1400.jpg");
  }
  .container__article {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
    text-align: left;
  }
  .container__article-button {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .container .popup {
    width: 920px;
    padding: 56px 95px;
  }
  .container .popup__header {
    font-size: 42px;
  }
  .container .popup__close {
    top: 46px;
    right: 46px;
  }
}
/*# sourceMappingURL=main.css.map */